$header2: 4rem;
$header4: 2.5rem;
$text: 1.5rem;
$background-color: hsl(0, 0%, 95%);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import "global";
@import "card";

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query */

@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }

  #main-card {
    flex-direction: column;
  }

  .sedans-card {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .luxury-card {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  h2 {
    margin: 2.5rem 3rem 3rem 4rem;
  }

  button {
    margin: 0rem 5rem 5rem 4rem;
  }

  p {
    margin: 0rem 3rem 2rem 4rem;
  }

  img {
    width: 20%;
    height: 20%;
  }
}
